body{
    background: #fdb7b9;
      width: 650px;
      margin: 80px auto;
  }
  .sender-column{
      text-align: right;
    font-size: 18px;
  }
  p{
    font-size: 16px;
  }
  .container{
    border: 1px dotted ;
    border-radius: 1%;
    padding: 20px;
    background: #badfd7;
  }